* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

.slider-wrap {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 300px;
  border: 1px solid white;

  cursor: grab;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.slider-inner {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 3000px;
  height: 100%;
  display: flex;
  background-color: red;
}

.item {
  width: 250px;
  height: 100%;
  background-color: black;
  border: 1px solid white;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
}

.prog-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
